<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>
<p>
  <strong>publisher:</strong>
  <%= @book.publisher %>
</p>
<p>
  <strong>no of books:</strong>
  <%= @book.no_of_books %>
</p>
<p>
  <strong>email:</strong>
  <%= @book.email %>
</p>
<p>
  <strong>phone:</strong>
  <%= @book.phone %>
</p>
<%= link_to "back", books_path %>